{% extends "layout.html" %}

{% block content %}


<div class="transbox">
    <h2>Contact Us</h2>
    <img src="https://icons.iconarchive.com/icons/iconsmind/outline/512/Mail-icon.png" width="250" align="right">
    <br />
    <h3>Or Zivyon</h3>
    <br />
    <h4>
        Lives In Tel Aviv, Israel</h4>
    <br />
    <h4>
        Tenth Grade in Tichonet HighSchool</h4>
    <br />
    <h4>
        Mail: zivyonzivyon@gmail.com</h4>
    <br />
    <h4>
        Phone Number: +972 50-7755-606</h4>

</div>
{% endblock %}