{% extends "layout.html" %}

{% block content %}

<div class="transbox">
    <h2>Data Analyze </h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Knowledge_transfer.svg/998px-Knowledge_transfer.svg.png"
        width="180" height="120" align="right">
    <div class="table-container" style="display: flex; align-items: center;">
        <div style="display: flex; align-items: flex-start; align-self: flex-start; flex-direction: column;
            justify-content: flex-start;">
            <h3>
                FIFA
            </h3>
            {{ dataaa.to_html(classes="table table-striped") | safe}}
        </div>
        <div style="display: flex; align-items: flex-start; align-self: flex-start; flex-direction: column;
            justify-content: flex-start;">
            <h3>
                Knowlege Rating
            </h3>
            {{ data111.to_html(classes="table table-striped") | safe}}
        </div>
    </div>
    <img src={{image1}} alt="my plot">
    <div class="x"></div><img />
    <div class="x">The distance Between The Konwlege Rating And The FootBall Level Rating {{diffrencee}}. So From This
        Country's Analyze We Can Claim That There {{answer1}} Connection Between High Knowelege Level And Fotball Level.
    </div>
</div>
{% endblock %}