{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for message in messages %}
<font size=10 color="#FF0000">{{ message[1] }}</font>
{% endfor %}
{% endif %}
{% endwith %}


<div class="transbox">

    <h2>The Conection Between Soccer & Country's Financial status</h2>
    <img src="https://images1.calcalist.co.il/PicServer2/20122005/491392/GETTY462563850835724.jpgL.jpg" width="350"
        align="right">
    <p>Another common steriotype is that in rich coutries the soccer is more popular and the players there are
        better.</p>
    <p>Is It True ?</p>
    <div class="table-container" style="display: flex; align-items: center;">
        <div
            style="display: flex; align-items: flex-start; align-self: flex-start; flex-direction: column; justify-content: flex-start; width: 35%">
            <h3 style="margin-bottom: 10px; margin-left: 0;">
                FIFA
            </h3>
            {{ data.to_html(classes="table table-striped") | safe}}
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#data"
                style="height:30px; width:100px; margin-top: 10px;">Press</button>
            <div id="data" class="collapse">
                {{ dataa.to_html(classes="table table-striped") | safe}}
            </div>
        </div>
        <div
            style="display: flex; align-items: flex-start; align-self: flex-start; flex-direction: column; justify-content: flex-start; width: 65%; margin-top: 0;">
            <h3 style="margin-bottom: 10px; margin-left: 0;">
                Economy Rating
            </h3>
            {{ data2.to_html(classes="table table-striped") | safe}}

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#data1"
                style="height:30px; width:100px;">Press</button>
            <div id="data1" class="collapse">
                {{ data22.to_html(classes="table table-striped") | safe}}
            </div>
        </div>
    </div>
  
    <h3>
        Analaze The Data
    </h3>
    <p>
        write the country that you want to find here (the first letter in capital)

    </p>
    <form method=post>
        {{ form.csrf }}
        {{ form.csrf_token }}
        {{ form.name.label }}
        {{ form.name }}
        <input type="submit" value="submit" class="btn btn-info">
    </form>
</div>

{% endblock %}