{% extends "layout.html" %}

{% block content %}
<div class="transbox">
    <h2>Data Analyze </h2>
    <img src="https://d2jv9003bew7ag.cloudfront.net/uploads/Alec-Monopoly-3-Slider.jpg" width="300" align="right">
    <div class="table-container" style="display: flex; align-items: center;">
        <div style="display: flex; align-items: flex-start; align-self: flex-start; flex-direction: column;
            justify-content: flex-start;">
            <h3>
                FIFA
            </h3>
            {{ dataaa.to_html(classes="table table-striped") | safe}}
        </div>
        <div style="display: flex; align-items: flex-start; align-self: flex-start; flex-direction: column;
            justify-content: flex-start;">
            <h3>
                Knowlege Rating
            </h3>
            {{ data222.to_html(classes="table table-striped") | safe}}
        </div>
    </div>
    <img src={{image2}} alt="my plot"><img />
    <p class="x">The distance Between The Economy Rating And The FootBall Level Rating {{diffrence2}}. So From This
        Country's Analyze We Can Claim That There {{answer2}} Connection Between High Economy And Fotball Level.</p>
</div>

{% endblock %}j