{% extends "layout.html" %}

{% block content %}


<div class="transbox">
    <div style="display: flex;">
        <div>
            <h2 style="display: inline-block;">Or Zivy✡n's Project</h2>
            <img src="https://upload.wikimedia.org/wikipedia/he/thumb/7/77/BNY2017Logo.png/1200px-BNY2017Logo.png"
                alt="Bnei Yehuda" width="300" height="220" align="right">
            <p>In my project I will investigate the effect that soccer as on society. I will try to find if there is
                any
                connection between the country soccer rate and their political, financial and emotional condition.
            </p>

            <p>I am a fan of "Bnei Yehuda" so this subject involved me too. As soccer fan I hear a lot of
                stereotypes
                about soocer fan's intelligence, financinal condition, happiens etc. In this project we will
                disprove or
                prove them with the assistance of DATA SCIENCE.</p>
        </div>
    </div>

</div>

{% endblock %}