{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for message in messages %}
<font align="center" size=30 color="#003333">Register</font>

<font size=15 color="#002333">{{ message[1] }}</font>
<p />
{% endfor %}
{% endif %}
{% endwith %}

<style>
    td {
        margin: 1%;
        text-align: left;
        font-size: 22px;
    }
</style>

<div class="transbox">
    <form method=post>
        {{ form.csrf }}
        {{ form.csrf_token }}
        <table>
            <tr>
                <td>
                    {{ form.FirstName.label }}
                </td>
                <td>
                    {{ form.FirstName }}
                </td>
                <td>
                    {% if form.FirstName.errors %}
                    <ul class="text-danger">{% for error in form.FirstName.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.LastName.label }}
                </td>
                <td>
                    {{ form.LastName }}
                </td>
                <td>
                    {% if form.LastName.errors %}
                    <ul class="text-danger">{% for error in form.LastName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.PhoneNum.label }}
                </td>
                <td>
                    {{ form.PhoneNum }}
                </td>
                <td>
                    {% if form.PhoneNum.errors %}
                    <ul class="text-danger">{% for error in form.PhoneNum.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.EmailAddr.label }}
                </td>
                <td>
                    {{ form.EmailAddr }}
                </td>
                <td>
                    {% if form.EmailAddr.errors %}
                    <ul class="text-danger">{% for error in form.EmailAddr.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.username.label }}
                </td>
                <td>
                    {{ form.username }}
                </td>
                <td>
                    {% if form.username.errors %}
                    <ul class="text-danger">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.password.label }}
                </td>
                <td>
                    {{ form.password }}
                </td>
                <td>
                    {% if form.password.errors %}
                    <ul class="text-danger">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="input submit">
                        <input type="submit" value="Register">
                    </div>
                <td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}